.ChooseImg{
    width: 25%;
    height:12.5%;

    box-shadow: 0 0 50px;
    margin-top: 3%;
    float: left;
    margin-left: 2%;
    transition: transform 2s;
}
.ChoosePlane{
    display: flex;
    justify-content: center;
}


body{
    background-image: url("Content/Warsaw-Pursuit-Brigade-1939-Polish-Air-Force.jpg");
    background-size: 100%;
    background-attachment: fixed;
}

.ChooseImg:hover{
    transform: scale(1.2);
}